 /*  product section */
 #product-overview {

   /*  shortcut for image position */
   background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 10%, transparent), url('../images/freedom.jpg') left 10% bottom 70% /cover no-repeat, #cfcfcf;
   background-size: cover;
   color: whitesmoke;
   height: 528px;
   width: 100%;
   padding: 5px;
   position: relative;
 }

 #product-overview h1 {
   position: absolute;
   top: 100px;
   left: 30px;
   font-weight: bold;
   font-size: 30px;
   color: #161616;
 }

 #product-overview p {
   position: absolute;
   bottom: 10px;
   left: 20px;
   text-transform: uppercase;
   font-size: 20px;
   font-weight: bold;
 }

 /*  section plans */
 #plans {
   background-color: #f8f8f8;
   color: #161616;
 }

 #plans p {
   margin: 0;
   text-align: center;
 }

 .section-title {
   margin: 0;
   padding: 0;
   text-align: center;
   margin-top: 15px;
   font-weight: 600;
   text-transform: uppercase;
   font-size: 25px;
 }

 .cards {
   text-align: center;
 }

 .card {
   background-color: #9ef7bd;
   color: #173622;
   text-align: center;
   display: inline-block;
   width: 30%;
   margin: 15px 8px;
   padding: 10px;
   vertical-align: middle;
   border-radius: 6px;
 }

 .card--recommended {
   background-color: #295739;
   color: #f8f8f8;
   font-weight: 800;
   text-transform: uppercase;
   box-shadow: #161616 2px 2px 2px 2px;
 }

 .card__price {
   margin: 0;
   font-size: 20px;
 }

 .card__description {
   margin: 0;
 }

 .card__list {
   list-style: none;
   margin: 10px 0 15px 0;
   padding: 0;
 }


 /*  section features */

 #features {
   background-color: #ff8282;
   margin-top: 10px;
 }

 #features .section-title {
   color: #f8f8f8;
   padding-top: 30px;
   margin: 0;
 }

 .features__image {
   background-color: #173622;
   border-radius: 50%;
   width: 128px;
   height: 128px;
   margin: auto;
 }

 .features__list {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 .features__list--item {
   display: inline-block;
   width: 30%;
   text-align: center;
 }

 .features__list--item p {
   color: #f8f8f8;
   font-size: 18px;
   font-weight: 500;
   text-align: center;
 }

 /*  modal */
 .modal {
   position: fixed;
   display: none;
   z-index: 100;
   top: 20%;
   left: 30%;
   width: 40%;
   background: white;
   padding: 1rem;
   border: 1px solid #ccc;
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
 }

 .modal__title {
   text-align: center;
   margin: 0 0 1rem 0;
 }

 .modal__actions {
   text-align: center;
 }

 .modal__action {
   border: 1px solid #0e4f1f;
   background: #0e4f1f;
   text-decoration: none;
   color: white;
   font: inherit;
   padding: 0.5rem 1rem;
   cursor: pointer;
 }

 .modal__action:hover,
 .modal__action:active {
   background: #2ddf5c;
   border-color: #2ddf5c;
 }

 .modal__action--negative {
   background: red;
   border-color: red;
 }

 .modal__action--negative:hover,
 .modal__action--negative:active {
   background: #ff5454;
   border-color: #ff5454;
 }

