 #product-overview {
   background: url('../images/freedom.jpg');
   color: whitesmoke;
   height: 528px;
   width: 100%;
   padding: 5px;
 }



 /*  section plans */
 #plans {
   background-color: #f8f8f8;
   color: #161616;
 }

 #plans p {
   margin: 0;
   text-align: center;
 }


 .section-title {
   margin: 0;
   padding: 0;
   text-align: center;
   margin-top: 15px;
   font-weight: 600;
   text-transform: uppercase;
   font-size: 25px;
 }

 .cards {
   text-align: center;
 }

 .card {
   background-color: #9ef7bd;
   color: #173622;
   text-align: center;
   display: inline-block;
   width: 30%;
   margin: 15px 8px;
   padding: 10px;
   vertical-align: middle;
   border-radius: 6px;

 }

 .card--recommended {
   background-color: #295739;
   color: #f8f8f8;
   font-weight: 800;
   text-transform: uppercase;
   box-shadow: #161616 2px 2px 2px 2px;
 }

 .card__price {
   margin: 0;
   font-size: 20px;
 }

 .card__description {
   margin: 0;
 }

 .card__list {
   list-style: none;
   margin: 10px 0 15px 0;
   padding: 0;
 }



 /*  section features */

 #features {
   background-color: #ff8282;
   margin-top: 10px;
 }

 #features .section-title {
   color: #f8f8f8;
   padding-top: 30px;
   margin: 0;
 }

 .features__image {
   background-color: #173622;
   border-radius: 50%;
   width: 128px;
   height: 128px;
   margin: auto;
 }

 .features__list {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 .features__list--item {
   display: inline-block;
   width: 30%;
   text-align: center;
 }

 .features__list--item p {
   color: #f8f8f8;
   font-size: 18px;
   font-weight: 500;
   text-align: center;
 }